*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #2563eb;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
}

.info-header{
    color: #bfdbfe;
    display: flex;
   
}

.info-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* queria saber como alinhar o meu icone;com a minha imagem; sendo que a classe info-header me prejudica 
outra forma penso que posso me ajudar é declarar 2 classes diferente botar ambas concatenar para ter o mesmo estilo no header basico e depois usa-las normalmente 
*/

.icons-header{
    margin: 0 0 0 10px;
}